{% extends "overrides/main.html" %}
{% block tabs %}
  {{ super() }}
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="https://cdn.tryfelicity.one/images/ghost.gif" alt="" width="240" height="240" draggable="false" style="transform: scaleX(-1); float: right; margin-right: 22%;">
        </div>
        <div class="mdx-hero__content">
          <h1>Felicity - Enhance Your Destiny 2 Experience</h1>

          <p>Felicity is a powerful Discord bot designed to enhance your Destiny 2 gaming experience. With a wide range of features, Felicity helps you track your craftable weapon patterns, view emblem information, access checkpoint bot data, manage guardians and collections, explore loot tables, and receive Twitch live alerts with VOD links.</p>
          <p>Whether you're a casual player or a seasoned guardian, Felicity is here to assist you on your journey through Destiny 2. Install Felicity today and take your Destiny 2 adventures to the next level!</p>

          <h2>Key Features:</h2>

          <ul>
            <li><b>Weapon Patterns</b>: Keep track of your progress towards crafting different weapon patterns.</li>
            <li><b>Emblem Information</b>: Get detailed information about emblems, including rarity and account shares.</li>
            <li><b>Checkpoint Bot Data</b>: Query <a href="https://d2checkpoint.com">d2checkpoint.com</a> to view available checkpoint bots.</li>
            <li><b>Guardians & Collections</b>: Easily view information about your guardians and collections.</li>
            <li><b>Loot Tables</b>: Check the loot tables for various activities to plan your farming sessions effectively.</li>
            <li><b>Vendor Information</b>: Stay updated with the latest vendor information and sales.</li>
            <li><b>Roll Finder</b>: Look up recommended rolls for various weapons, curated by our own staff.</li>
            <li><b>Twitch Live Alerts</b>: Receive alerts when your favorite streamer goes live on Twitch.</li>
          </ul>

          <hr>

          <p>Note: For detailed usage examples and command documentation, please refer to the <a href="https://tryfelicity.one/commands">dedicated page</a>.</p>

          <a href="https://discord.com/api/oauth2/authorize?client_id=709475072158728283&permissions=1505281630423&scope=bot%20applications.commands" title="Add Felicity" class="md-button md-button--primary">
            Add to Server
          </a>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}